<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.board.dao.IBoardReplyRepository">

<insert id="insertBoardReply" parameterType="com.example.myapp.board.model.BoardReply">
<![CDATA[
INSERT INTO board_reply 
VALUES(SEQ_BOARD_REPLY_ID.NEXTVAL,#{boardId},#{memberId},#{boardReplyContent},SYSDATE)
]]>
</insert>

<!-- <select id="selectBoardReplyList" parameterType="Integer" resultType="com.example.myapp.board.model.BoardReply">
<![CDATA[
SELECT board_reply_id AS "boardReplyId", 
		board_id AS "boardId", 
        member_nickname AS "memberNickname",
		board_reply_content AS "boardReplyContent", 
		board_reply_write_date AS "boardReplyWriteDate"
FROM board_reply, member
WHERE board_reply.member_id = member.member_id AND board_id=#{boardId}
]]>
</select> -->

<select id="selectBoardReplyList" parameterType="Integer" resultType="com.example.myapp.board.model.BoardReply">
  <![CDATA[
    SELECT
      br.board_reply_id AS "boardReplyId",
      br.board_id AS "boardId",
      br.member_id AS "memberId",
      br.board_reply_content AS "boardReplyContent",
      br.board_reply_write_date AS "boardReplyWriteDate",
      m.member_id AS "memberId",     
      m.member_name AS "memberName",   
      m.member_nickname AS "memberNickName"   
    FROM board_reply br
    LEFT JOIN member m ON br.member_id = m.member_id
    WHERE br.board_id = #{boardId}
  ]]>
</select>


<update id="updateBoardReply" parameterType="com.example.myapp.board.model.BoardReply">
<![CDATA[
UPDATE board_reply SET board_reply_content=#{boardReplyContent},board_reply_write_date=SYSDATE
WHERE board_reply_id=#{boardReplyId}
]]>
</update>

<delete id="deleteBoardReply" parameterType="Integer">
<![CDATA[
DELETE FROM board_reply WHERE board_reply_id=#{boardReplyId}
]]>
</delete>

<delete id="deleteAllBoardReply" parameterType="Integer">
<![CDATA[
DELETE FROM board_reply WHERE board_id=#{boardId}
]]>
</delete>

<!-- 게시물작성자가 게시글 삭제시 삭제되는 댓글 -->
<delete id="deleteAllReply" parameterType="Integer">
<![CDATA[
DELETE FROM board_reply 
	WHERE EXISTS(SELECT board_id 
				FROM board
				WHERE board_id=#{boardId} 
				AND board.board_id = board_reply.board_id)
]]>
</delete>

</mapper>