<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<span>message</span>
	<div>
		<img th:src="@{/product-thumnail/__${product.productId}__}" style="width: 300px; height: 300px;">
	</div>
	<div>
	</div>
	<h2>ID</h2>
	<div th:text="${product.productId}">ID</div><br>
	<h2>NAME</h2>
	<div th:text="${product.productName}">NAME</div><br>
	<h2>PRICE</h2>
	<div th:text="${product.productPrice}">PRICE</div><br>
	<h2>CONTENT</h2>
	<div th:text="${product.productContent}">CONTENT</div><br>
	<h2>STOCK</h2>
	<div th:text="${product.productStock}">STOCK</div><br>
	<h2>Images</h2>
	<div th:each="imageId : ${imageIdList}">
		<p th:text = ${imageId}></p>
		<img th:src ="@{/product-detail/image/__${imageId}__}">
	</div>
</body>
</html>