<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/header::head}"></head>
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script>
	function insertCart() {

		var productId = '[[${product.productId}]]'
		var amount = $("#num-product").val();

		var insdoc = "<input type='hidden' name='productId' value='"+ productId +"'>";
		insdoc += "<input type='hidden' name='productCount' value='"+ amount +"'>";
		var goform = $("<form>", {
			method : "post",
			action : '/member/insert-cart',
			html : insdoc,
		}).appendTo("body");
		goform.submit();
	}
	function purchase() {

		var productId = '[[${product.productId}]]'
		//productId.push('[[${product.productId}]]')
		var amount = $("#num-product").val();
		var productPrice = '[[${product.productPrice}]]'
		location.href = '/member/order?productId=' + productId
				+ '&productCount=' + amount + '&totalPrice='
				+ (amount * productPrice)
	}
</script>

<style>
#product-detail-box {
	justify-content: center;
}

#product-detail-box>div:nth-child(1) {
	width: 230px;
}

#product-detail-box>div:nth-child(2) {
	display: flex;
}

#product-detail-box>div>div>button {
	margin: 1%;
}
</style>
<body class="animsition">
	<header th:replace="~{/body-header::body-header}"></header>
	<div style="height: 75px;"></div>

	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-pic-w pos-relative slider-wrap">
						<div th:each="imageId : ${imageIdList}">
							<img th:src ="@{/product-detail/image/__${imageId}__}">
						</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14"
							th:text="${product.productName}">PRODUCT NAME</h4>
						<span class="mtext-106 cl2"
							th:text="|${#numbers.formatInteger(product.productPrice,0,'COMMA')} &#8361;|">
							PRODUCT PRICE </span>
						<p class="stext-102 cl3 p-t-23"
							th:text="${product.productContent}">PRODUCT CONTENT</p>
						<div class="p-t-33">
							<div class="flex-w flex-r-m p-b-10">
								<div id="product-detail-box"
									class="size-204 flex-w flex-m respon6-next">
									<div class="wrap-num-product flex-w m-r-20 m-tb-10">
										<div
											class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-minus"></i>
										</div>
										<input class="mtext-104 cl3 txt-center num-product"
											type="number" id="num-product" name="num-product" value="1">
										<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
											<i class="fs-16 zmdi zmdi-plus"></i>
										</div>
									</div>
									<div th:if="${session.memberId!=null}">
										<button id="insert-cart-product"
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
											th:onclick="insertCart()">담기</button>
										<button id="puchase-cart-product"
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
											th:onclick="purchase()">즉시 구매</button>
									</div>
								</div>
							</div>
						</div>

						<!--  -->
						<div class="flex-w flex-m p-l-100 p-t-40 respon7">
							<div class="flex-m bor9 p-r-10 m-r-11">
								<a href="#"
									class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
									data-tooltip="Add to Wishlist"> <i
									class="zmdi zmdi-favorite"></i>
								</a>
							</div>

							<a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Facebook"> <i class="fa fa-facebook"></i>
							</a> <a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Twitter"> <i class="fa fa-twitter"></i>
							</a> <a href="#"
								class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
								data-tooltip="Google Plus"> <i class="fa fa-google-plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="bor10 m-t-50 p-t-43 p-b-40">
				<!-- Tab01 -->
				<div class="tab01">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs acitve" role="tablist" >
						<li class="nav-item p-b-10">
							<a class="nav-link" th:text="|Reviews (${reviewCount})|">Reviews (review_count)</a>
						</li>
					</ul>
					<!-- Tab panes -->
				</div>
				<div class="tab-content p-t-43">
					<div class="tab-pane fade show active" id="reviews" role="tabpanel">
						<div class="row">
							<div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
								<div class="p-b-30 m-lr-15-sm">
									<!-- Review -->
									<div class="flex-w flex-t p-b-68" th:each="review:${reviewList}">
										<div class="size-207">
											<div class="flex-w flex-sb-m p-b-17">
												<span class="mtext-107 cl2 p-r-20" th:text="${review.memberId}"> member Id</span>
												<span class="fs-18 cl11">
													<i class="zmdi zmdi-star" th:if="${review.rating>0}"></i>
													<i class="zmdi zmdi-star" th:if="${review.rating>1}"></i>
													<i class="zmdi zmdi-star" th:if="${review.rating>2}"></i>
													<i class="zmdi zmdi-star" th:if="${review.rating>3}"></i>
													<i class="zmdi zmdi-star" th:if="${review.rating>4}"></i>
												</span>
											</div>
											<p class="stext-102 cl6" th:text="${review.productReviewContent}">content</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${session.isAdmin==1}">
			<a th:href="@{/admin/update-product(productId=${product.productId})}">
				<button style="margin: 1% auto;"
					class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">상품
					수정</button>
			</a>
		</div>
	</section>
	<footer th:replace="~{/footer::footer}"></footer>
	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/slick/slick.min.js"></script>
	<script src="/js/slick-custom.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/parallax100/parallax100.js"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/isotope/isotope.pkgd.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e) {
			e.preventDefault();
		});
		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");
						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});
		$('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");
						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});
		/*---------------------------------------------*/
		$('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				});
	</script>
	<!--===============================================================================================-->
	<script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});
			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	<script>
	$(function(){
    $('.slider-wrap').slick({
      slide: 'div',        //슬라이드 되어야 할 태그
      infinite : true,     //무한 반복 옵션
      slidesToShow : 1,        // 한 화면에 보여질 컨텐츠 개수
      slidesToScroll : 1,        //스크롤 한번에 움직일 컨텐츠 개수
      speed : 500,     // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
      arrows : false,         // 옆으로 이동하는 화살표 표시 여부
      dots : false,         // 스크롤바 아래 점으로 페이지네이션 여부
      autoplay : true,            // 자동 스크롤 사용 여부
      autoplaySpeed : 3000,         // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
      pauseOnHover : true,        // 슬라이드 이동    시 마우스 호버하면 슬라이더 멈추게 설정
//       vertical : false,        // 세로 방향 슬라이드 옵션
//       prevArrow : "<button type='button' class='slick-prev'>Previous</button>",
//       nextArrow : "<button type='button' class='slick-next'>Next</button>",
      draggable : true,     //드래그 가능 여부 
//       responsive: [ // 반응형 웹 구현 옵션
//         {  
//           breakpoint: 960, //화면 사이즈 960px
//           settings: {
//             slidesToShow: 4
//           } 
//         },
//         { 
//           breakpoint: 768, //화면 사이즈 768px
//           settings: {    
//             slidesToShow: 5
//           } 
//         }
//       ]
    });
})
	</script>
</body>
</html>