<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<span>message</span>
	<div>
<!-- 		<img th:src="@{/product-thumnail/__${product.productId}__}" style="width: 100px; height: 100px;"> -->
	</div>
	<h2>ID</h2>
	<div th:text="${product.productId}">ID</div>
	<br>
	<h2>NAME</h2>
	<div th:text="${product.productName}">NAME</div>
	<br>
	<h2>PRICE</h2>
	<div th:text="${product.productPrice}">PRICE</div>
	<br>
	<h2>CONTENT</h2>
	<div th:text="${product.productContent}">CONTENT</div>
	<br>
	<h2>STOCK</h2>
	<div th:text="${product.productStock}">STOCK</div>
	<br>
	<div th:each="image:${productImageList}">
		<img src="${image.productImage}">
	</div>
</body>
</html>