@charset "UTF-8";

.whole{
	margin-top : 200px;
	width:100%;
	
}


.content{
	color : block;
	
}

.title{
	color : block;
	font-weight : bold;
	font-size : 17px;
}

.content{
	font-weight : bold;
	font-size : 17px;
	
}

.image{
	font-weight : bold;
	font-size : 17px;
	margin-left:-30px;
}




.form-group2 {
    display: flex; /* 버튼들을 가로로 배치 */
    justify-content: center;
    gap : 30px;
    margin-top:60px;
    margin-bottom : 69px;
}


.board_write_safe,
.board_write_cancel {
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

.board_write_safe:hover,
.board_write_cancel:hover {
    background-color: #333;
}




.form-group{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	
}

