<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::head}"></head>
<link rel="stylesheet" type="text/css" th:href="@{/css/board/boardview.css}">
<meta charset="UTF-8">


<body>
<header th:replace="~{body-header::body-header}"></header>

<!-- <form action="/board/delete/" method="post" onsubmit="return deleteArticleConfirmation()"> -->
<form action="/board/delete" method="post" onsubmit="return deleteArticleConfirmation()">

<!-- <a th:href="@{/board/write/{categoryId}(categoryId=${categoryId})}"><button type="button" class="btn btn-info">새글쓰기</button></a> -->
<table class ="table_bordered">
<tr>
	<td class="td_text">글번호</td>
	<td th:text="${board.boardId}">
	</td>
</tr>

<tr>
	<td class="td_text">작성자</td>
	<td th:text ="${board.memberNickname}"></td>
</tr>

<tr>
	<td class="td_text">작성일</td>
	<td th:text ="${board.boardWriteDate}"></td>
</tr>



<tr>
	<td class="td_text">조회수</td>
	<td th:text ="${board.visitCount}"></td>
</tr>

<tr>
	<td class="td_text">제목</td>
	<td th:text ="${board.boardTitle}"></td>
</tr>



<tr>
	<td class="td_text">첨부파일</td>
	<td>
     <img th:src="@{/boardImageFile/{boardImageId}(boardImageId=${board.boardImageId})}" 
     th:if="${board.boardImageType == 'image/jpeg' || board.boardImageType == 'image/png' || board.boardImageType == 'image/gif' || board.boardImageType == 'image/jpg'}" 
     class="img-thumbnail" alt="" width="300"><br>
     
     <a th:href="@{/file/{boardImageId}(boardImageId=${board.boardImageId})}" 
     th:text="${board.boardImageName}">(<span th:text="${#numbers.formatDecimal(board.fileSize,3,'COMMA',2,'POINT')}">0</span>byte)</a>
	</td>
</tr>

<tr>
	<td class="td_text">내용</td>
	<td th:utext ="${board.boardContent}"></td>
</tr>


</table>
<!-- 	<div class="btn_location">
		<div class="btn_delete">
			<a th:href="@{/board/delete/{boardId}(boardId=${board.boardId})}"><button type="button" class="btn btn-info">삭제</button></a>
		
		</div>
	</div> -->
	
	
	
	<div class="btn_location">
		<div class="btn_delete">
			<!-- <a th:href="@{/board/delete/{boardId}(boardId=${board.boardId})}"> -->
			<!-- <input type="submit" class="update_board" value="수정"> -->
					<a th:href="@{/board/update/{boardId}(boardId=${board.boardId})}"><button type="button" class="update_board">수정</button></a>
			
			<button type="button" class="delete_board" onclick="deleteArticleConfirmation()">삭제</button>
		</div>
	</div>
		



</form>
<script>
  function deleteArticleConfirmation() {
    var confirmResult = confirm("게시물을 삭제하시겠습니까?");
    if (confirmResult) {
      deleteYes();
      return true;
    } else { 
    	return false;
    }
  }

  function deleteYes() {
	var mid='[[${board.memberId}]]'
	  $.ajax({
			type: "POST",
			url: "/board/delete",
			data:{'memberId':mid},
	  		dataType:"json",
			success: function(data) {
				inputContent(data,"1");
			},
			error: function (xhr, status, error) {
		        alert(xhr.responseText);
		      }
			
		});
  }
</script>

<footer th:replace="~{/footer::footer}"></footer>


</body>
</html>