<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::head}"></head>
<link rel="stylesheet" type="text/css" th:href="@{../css/login.css}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.d-button{
	cursor:pointer;
}
</style>

<body>
	<header th:replace="~{body-header::body-header}"></header>
	<main>
		<div class="loginpage-wrap">
			<div class="section1">
				<div class="d-div" style="width: 504px; margin: 0 auto;">
					<span class="login-title" th:text="비밀번호찾기"></span> 
					<hr class="hr1">
					<form th:action="@{/member/login}" method="post" id="login" class="form-horizontal">
						<input type="text" name="memberId" id="memberId"
							pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}" class="signin"
							placeholder=" 아이디 " aria-describedby="basic-addon1" required>
						<input type="text" class="signin"  id="memberEmail" name="memberEmail" pattern= ".*@.*\.com"  placeholder="이메일" aria-describedby="basic-addon1" required>
						<br>
						<input type="button"  id="pwdBtn" class="d-button" value="비밀번호 찾기"
							style="color: #fff;">
					</form>
					</div>
				</div>
			</div>
	</main>
	<footer th:replace="~{footer::footer}"></footer>
</body>
<script>
window.onload=function(){
	$("#pwdBtn").click(function(){
		var memberId=$("#memberId").val();
		var memberEmail=$("#memberEmail").val();
		$.ajax({
			type : "POST",
			url : "/member/find-password-email",
			data : {
				'memberId' : memberId,
				'memberEmail':memberEmail
			},
			success : function(result) {
				alert(result)
				if(result=='1'){
					location.href="/member/login";
				}else{
					alert("아이디와 등록된 이메일이 일치하지 않습니다.")

				}
			},
			error : function(err){
				alert("메일 전송에 실패했습니다.");
			}
		});

	});
}
</script>
</html>
