<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::head}"></head>
<link rel="stylesheet" type="text/css" th:href="@{../css/login.css}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<header th:replace="~{body-header::body-header}"></header>
	<main>
		<div class="loginpage-wrap">
			<div class="section1">
				<div class="d-div" style="width: 504px; margin: 0 auto;">
					<span class="login-title" th:text="로그인"></span> 
					<span th:if="${message != null}">[[${message}]]</span> <br>
					<hr class="hr1">
					<form th:action="@{/member/login}" method="post" id="login" class="form-horizontal">
						<input type="text" name="memberId" id="memberId" class="signin"
							placeholder=" 아이디 " aria-describedby="basic-addon1" required>
						<input type="password" name="memberPassword" id="pw"
							pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" class="signin"
							placeholder="비밀번호" required>
						<div style="display: inline-block">
							
							<label class="checkbox-inline"><input type="checkbox" class="cb1"><span>아이디 저장</span></label>
						</div>
						<br>
						<input type="submit" class="d-button" th:value="로그인"
							style="color: #fff;">
					</form>
					<div class="login-sub">
						<ul>
							<li><a th:href="@{/member/signup}" class="btn">회원가입</a></li>
							<li><a th:href="@{/member/find-id}" class="btn" >아이디 찾기</a></li>
							<li><a th:href="@{/member/find-password}" class="btn">비밀번호 찾기</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="~{footer::footer}"></footer>
</body>
</html>
