<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="member-menu">
	<div class="side-menu">
		<div class="p-t-55">
			<h4 class="mtext-112 cl2 p-b-33">
				목록
			</h4>

			<ul>
				<li class="bor18">
					<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
						회원정보 수정
					</a>
				</li>
				<li class="bor18">
					<a th:href="@{/member/shoping-cart}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
						장바구니
					</a>
				</li>

				<li class="bor18">
					<a th:href="@{/member/my-orders}" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
						주문 목록
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>