<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div class="container">
		<div class="pg-opt">
			<div class="row">
				<div class="col-md-6 pc">
					<h2>
						<span>로그인</span>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<h4>
			아이디: <span th:text="${session.memberId}"></span>
		</h4>
		<h4>
			이메일 주소: <span th:text="${session.memberEmail}"></span>
		</h4>
		<p>
			<a th:href="@{/member/update}">회원정보 수정</a>
		</p>
		<p>
			<a th:href="@{/member/logout}">로그아웃</a>
		</p>
		<p>
			<a th:href="@{/member/delete}">회원 탈퇴</a>
		</p>
	</div>
</body>
</html>
