<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::header}"></head>
<link rel="stylesheet" type="text/css" th:href="@{../css/adminpage.css}">
<script th:src="@{../../vendor/jquery/jquery-3.2.1.min.js}"></script>
<script>
window.onload=function(){
	$("#purchase").click(function(){
		var IMP = window.IMP; // 생략가능
		IMP.init('imp04512863'); // <-- 본인 가맹점 식별코드 삽입
		  IMP.request_pay({
		    pg: "html5_inicis.INIBillTst",
		    pay_method: "cart",
		    pg:"kakaopay.TC0ONETIME",
		    pay_method:"kakaopay",
		    merchant_uid : 'merchant_'+new Date().getTime(),
		    name : '[[${member.memberId}]]',
		    amount : '[[${totalPrice}]]',
		    buyer_email : '[[${member.memberEmail}]]',
		    buyer_name : '[[${member.memberName}]]',
		    buyer_tel : '[[${member.memberPhoneNumber}]]',
		    buyer_addr : '[[${member.memberAddress}]]'
		  }, function (rsp) { // callback
		      if (rsp.success) {
				$('.insert-order-form').attr('method','post');
				$('.insert-order-form').attr('action','/member/order');
			   	$('.insert-order-form').submit(); 
		      } else {
		    	alert("결제 실패!");  
		      }
		  });
		
	})
}
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<body class="animsition">
	<!-- Header -->
	<header th:replace="~{body-header::body-header}"></header>
		
	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!-- product-register -->
						<div class="p-t-40">
							<h5 class="mtext-113 cl2 p-b-12">
								주문
							</h5>
							<form class="insert-order-form">
	 							<ul th:each="list:${productList}" style="display:none">
									<li><input name="product" th:value="${list.key}">
									<li><input name="amount" th:value="${list.value}">
								</ul> 
								<label for="memberId" class="product-infomation-label">받는 사람</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" th:value="${member.memberId}"type="text" id="memberId" name="memberId" placeholder="받는 이">
								</div>
								
								<label for="orderAddress" class="product-infomation-label">주소</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" th:value="${member.memberAddress}" type="text" id="orderAddress" name="orderAddress" placeholder="주소">
								</div>
								
								<label for="memberAddressDetail" class="product-infomation-label">상세 주소</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text" id="orderAddressDetail" name="orderAddressDetail" placeholder="상세 주소">
								</div>
								
								<label for="productPrice" class="product-infomation-label">총 금액</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" th:value="${totalPrice}" type="text" placeholder="총 가격" readonly>
								</div>
								<br>
								</form>
								<button id="purchase" class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
									결제하기
								</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 p-b-80" th:replace="~{/member/member-menu::member-menu}"></div>
			</div>
		</div>
	</section>	
<footer th:replace="~{footer::footer}"></footer>
<!--===============================================================================================-->	
	<script th:src="@{../vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{../vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/select2/select2.min.js}"></script>
 	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{../vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/slick/slick.min.js}"></script>
	<script th:src="@{../js/slick-custom.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/parallax100/parallax100.js}"></script>
<!-- 	<script>
        $('.parallax100').parallax100();
	</script> -->
<!--===============================================================================================-->
	<script th:src="@{../vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
 	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/isotope/isotope.pkgd.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/sweetalert/sweetalert.min.js}"></script>
 	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
 	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../js/main.js}"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>