<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::head}"></head>
<style>
.main {
	display: inline-block;
}

.main>div {
	float: left;
}
</style>
<script>
window.onload=function(){
	$("#signBtn").click(function(){
		var memberName = document.querySelector('.sign-info input[name="memberName"]').value;
		var memberId = document.querySelector('.sign-info input[name="memberId"]').value;
		var memberPassword = document.querySelector('.sign-info input[name="memberPassword"]').value;
		var memberPasswordConfirm = document.querySelector('.sign-info input[name="memberPasswordConfirm"]').value;
		var memberNickName = document.querySelector('.sign-info input[name="memberNickName"]').value;
		var memberEmail = document.querySelector('.sign-info input[name="memberEmail"]').value;
		var memberAddress = document.querySelector('.sign-info input[name="memberAddress"]').value;
		var memberPhoneNumber = document.querySelector('.sign-info input[name="memberPhoneNumber"]').value;
	
		// 각 필드에 대한 입력 확인
		if (memberName === "") {
			alert("이름을 입력해주세요.");
			return;
		}
	
		if (memberId === "") {
			alert("아이디를 입력해주세요.");
			return;
		}
	
		if (memberPassword === "") {
			alert("비밀번호를 입력해주세요.");
			return;
		}
	
		if (memberPasswordConfirm === "") {
			alert("비밀번호 확인을 입력해주세요.");
			return;
		}
	
		if (memberNickName === "") {
			alert("닉네임을 입력해주세요.");
			return;
		}
	
		if (memberEmail === "") {
			alert("이메일을 입력해주세요.");
			return;
		}
	
		if (memberAddress === "") {
			alert("주소를 입력해주세요.");
			return;
		}
	
		if (memberPhoneNumber === "") {
			alert("전화번호를 입력해주세요.");
			return;
		}
		// 비밀번호와 비밀번호 확인이 일치하는지 확인
		if (memberPassword !== memberPasswordConfirm) {
			alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
			return;
		}
	
		// 이름 유효성 검사 (예: (한글 두글자 이상 입력)
		var nameRegex = /^[가-힣]{2,}$/;
		if (!nameRegex.test(memberName)) {
			alert("한글을 두 글자 이상 입력해야 합니다.");
			return;
		}
	
		// 비밀번호 유효성 검사 (예: (영문 대소문자/숫자/특수문자 포함. 단 최소 6자 이상.)
		var passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&^]).{6,}$/;
		if (!passwordRegex.test(memberPassword)) {
			alert("비밀번호는 6자 이상이며, 최소 하나의 대문자, 소문자, 숫자, 특수문자를 포함해야 합니다.");
			return;
		}
	
		//이메일 유효성 검사
		var emailRegex = /@/;
		if (!emailRegex.test(memberEmail)) {
			alert("이메일 형식이 올바르지 않습니다. 이메일 주소에는 '@' 문자가 포함되어야 합니다.");
			return;
		}
		// 전화번호 유효성 검사
		var phoneRegex = /^010-[0-9]{4}-[0-9]{4}$/;
		if (!phoneRegex.test(memberPhoneNumber)) {
			alert("전화번호는 '010-0000-0000' 형식으로 입력해야 합니다.");
			return;
		}
	
	
		if('[[${member.memberNickName}]]'!=memberNickName){
			// 닉네임 중복 체크
			$.ajax({
				type:'GET',
				url: '/member/nicknamecheck', //Controller에서 요청 받을 주소
				data: { 'memberNickName': memberNickName },
				async: false,
				success: function(result) {
					console.log("nicknamecheck", result);
					if (result == 'true') {
						
					} else {
						// 닉네임이 존재하였을 때, 오류 메시지 표시
						alert('이미 존재하는 닉네임 입니다.');
						return;
					}
				},
				error: function(request, status, error) {
					console.log("Error", request, status, error);
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					return;
				}
			});
		}
	
		// 전화번호 중복 체크
		if('[[${member.memberPhoneNumber}]]'!=memberPhoneNumber){
			$.ajax({
				type:'GET',
				url: '/member/phonenumbercheck', //Controller에서 요청 받을 주소
				data: { 'memberPhoneNumber': memberPhoneNumber },
				async: false,
				success: function(result) {
					if (result == 'true') {
		
					} else {
						// 전화번호가 존재하였을 때, 오류 메시지 표시
						alert('이미 존재하는 전화번호 입니다.');
						return;
					}
				},
				error: function(request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					return;
				}
			});
		}
	
		// 이메일 중복 체크
		if('[[${member.memberEmail}]]'!=memberEmail){
			$.ajax({
				type:'GET',
				url: '/member/emailcheck', //Controller에서 요청 받을 주소
				data: { 'memberEmail': memberEmail },
				async: false,
				success: function(result) {
					if (result == 'true') {
		
					} else {
						// 이메일이 존재하였을 때, 오류 메시지 표시
						alert('이미 존재하는 이메일 입니다.');
						return;
					}
				},
				error: function(request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
					return;
				}
			});
		}
		$("#member-update").submit();
	});
}
</script>
<link rel="stylesheet" type="text/css"
	th:href="@{../css/member-update.css}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<header th:replace="~{body-header::body-header}"></header>
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<form th:action="@{/member/update}" method="post"
							id="member-update" class="bg0 p-t-75 p-b-85">
							<div class="sign-div" style="padding: 20px;">
								<div class="sign">
									<label for="member-signup"
										style="padding: 20px; font-size: 30px;">회원정보 수정</label>
									<hr class="hr1">
									<br>
									<h3>기본정보</h3>
									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">이름</h5>
									</div>
									<div class="sign-info">
										<input type="text" class="signuppage" name="memberName"
											th:value="${member.memberName}" required>(한글 두글자 이상 입력해야 합니다.)
									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 3em;">아이디</h5>
									</div>
									<div class="sign-info">
										<input type="text" class="signuppage" name="memberId"
											th:value="${member.memberId}"
											pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}" required
											readonly> (영어,숫자로 10글자까지 허용, 단 각각 하나 이상 포함해야 합니다.)
										<!-- th:value="${member.memberId}" -->

									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">비밀번호</h5>
									</div>
									<div class="sign-info">
										<input type="password" class="signuppage"
											name="memberPassword" th:value="${member.memberPassword}"
											pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}"
											th:error="memberPassword" required>(6자 이상이며, 최소 하나의 대문자, 소문자, 숫자, 특수문자를 포함해야 합니다.)
									</div>


									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">비밀번호 확인</h5>
									</div>
									<div class="sign-info">
										<input type="password" id="memberPasswordConfirm"
											class="signuppage" name="memberPasswordConfirm"
											th:value="${member.memberPassword}"
											pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}"
											th:error="memberPasswordConfirm" required>
									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">닉네임</h5>
									</div>
									<div class="sign-info">
										<input type="text" class="signuppage" name="memberNickName"
											th:value="${member.memberNickName}" required>
									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">이메일 주소</h5>
									</div>
									<div class="sign-info">
										<input type="email" class="signuppage" name="memberEmail"
											th:value="${member.memberEmail}"
											  placeholder="예:code@code.com" required>
										<!-- th:value="${member.memberEmail}" -->
									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 2.5em;">주소</h5>
									</div>
									<div class="sign-info">
										<input type="text" class="signuppage"
											style="margin-top: 10px; width: 300px;" name="memberAddress"
											th:value="${member.memberAddress}" pattern="[가-힣0-9]+"
											placeholder="예:창경궁로 254" required>
										<!--  th:value="${member.memberAddress}" -->
									</div>

									<hr class="hr2">
									<div class="sign-text">
										<h5 style="line-height: 1.7em;">전화번호</h5>
									</div>
									<div class="sign-info">
										<input type="text" id="phoneNum"
											class="signuppage-memberPhoneNumber" name="memberPhoneNumber"
											th:value="${member.memberPhoneNumber}"
											pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>
										<!-- th:value="${member.memberAddress}" -->
									</div>

									<input type="hidden" id="isAdmin" value=0 required>
								</div>

							</div>
							<div class="sign-div">
								<div class="sign-button">

									<button type="button" id="signBtn" class="btn" th:text="회원정보수정"></button>
									<input type="submit" id="cancelBtn" class="btn" th:value="취소"></input>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div th:replace="~{member/member-menu::member-menu}"></div>
			</div>
		</div>
	</section>
	<footer th:replace="~{footer::footer}"></footer>
	<script th:inline="javascript" th:src="@{../js/member/update.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{../vendor/bootstrap/js/bootstrap.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/select2/select2.min.js}"></script>
	<script>
		$(".js-select2").each(function() {
			$(this).select2({
				minimumResultsForSearch : 20,
				dropdownParent : $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{../vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/slick/slick.min.js}"></script>
	<script th:src="@{../js/slick-custom.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/parallax100/parallax100.js}"></script>
	<!-- 	<script>
        $('.parallax100').parallax100();
	</script> -->
	<!--===============================================================================================-->
	<script
		th:src="@{../vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
				delegate : 'a', // the selector for gallery item
				type : 'image',
				gallery : {
					enabled : true
				},
				mainClass : 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/isotope/isotope.pkgd.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{../vendor/sweetalert/sweetalert.min.js}"></script>
	<script>
		$('.js-addwish-b2').on('click', function(e) {
			e.preventDefault();
		});

		$('.js-addwish-b2').each(
				function() {
					var nameProduct = $(this).parent().parent().find(
							'.js-name-b2').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-b2');
						$(this).off('click');
					});
				});

		$('.js-addwish-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent().find(
							'.js-name-detail').html();

					$(this).on('click', function() {
						swal(nameProduct, "is added to wishlist !", "success");

						$(this).addClass('js-addedwish-detail');
						$(this).off('click');
					});
				});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(
				function() {
					var nameProduct = $(this).parent().parent().parent()
							.parent().find('.js-name-detail').html();
					$(this).on('click', function() {
						swal(nameProduct, "is added to cart !", "success");
					});
				});
	</script>
	<!--===============================================================================================-->
	<script
		th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script>
		$('.js-pscroll').each(function() {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed : 1,
				scrollingThreshold : 1000,
				wheelPropagation : false,
			});

			$(window).on('resize', function() {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script th:src="@{../js/main.js}"></script>
</body>
</html>