<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header::header}"></head>
<link rel="stylesheet" type="text/css" th:href="@{../css/adminpage.css}">
<style>
#confirmPassword{
	color:red;
}
#update-member-info{
	 pointer-events: none;
}
</style>
<script>
window.onload=function(){
	$("#memberPassword2").keyup(function(){
		var pwd1=$("#memberPassword").val()
		var pwd2=$("#memberPassword2").val()
		
		if(pwd1!=pwd2){
			$("#confirmPassword").html("비밀번호가 일치하지 않습니다.")
			$("#update-member-info").css("pointer-events","none");
		}else{
			$("#confirmPassword").html("비밀번호가 일치합니다.")
			$("#update-member-info").css("pointer-events","auto");
		}
	})
}
</script>
<body class="animsition">
	<!-- Header -->
	<header th:replace="~{body-header::body-header}"></header>
	<!-- Content page -->
	<section class="bg0 p-t-52 p-b-20">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!-- product-register -->
						<div class="p-t-40">
							<h5 class="mtext-113 cl2 p-b-12">
								회원 정보 수정
							</h5>
							<form th:action="@{/member/update}" method="post" enctype="multipart/form-data" class="insert-product-form">
								<label for="memberId" class="member-infomation-label">아이디</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text"  id="memberId" name="memberId" pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}"  th:value="${member.memberId}"readonly>
								</div>

								<label for="memberName" class="member-infomation-label">이름</label>
								<div class="product-infomation-box">
									<input class="stext-111 cl2 plh3 size-116 p-lr-18" type="text"  id="memberName" name="memberName" th:value="${member.memberName}"readonly>
								</div>
								
								<label for="memberPassword" class="member-infomation-label">비밀번호</label>
								<div class="product-infomation-box">
									<input type="password" id="memberPassword" name ="memberPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" th:error="memberPassword"  required>
								</div>

								<label for="memberPassword2" class="member-infomation-label">비밀번호 확인</label>
								<div class="product-infomation-box">
									<input type="password" id="memberPassword2" name="memberPassword2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  th:error="memberPasswordConfirm" required>
								</div>
								<span id="confirmPassword"></span>

								<label for="memberNickName" class="member-infomation-label">닉네임</label>
								<div class="product-infomation-box">
									<input type="text" id="memberNickName" name="memberNickName" th:value="${member.memberNickName}"required>
								</div>

								<label for="memberEmail" class="member-infomation-label">이메일</label>
								<div class="product-infomation-box">
									<input type="email" id="memberEmail" name="memberEmail" th:value="${member.memberEmail}"required>
								</div>

								<label for="memberEmail" class="member-infomation-label">주소</label>
								<div class="product-infomation-box">
									<input type="text" id="memberAddress" name="memberAddress" th:value="${member.memberAddress}"required>
								</div>

								<label for="memberPhoneNumber" class="member-infomation-label">연락처</label>
								<div class="product-infomation-box">
									<input type="text" pattern="[0-9]{11}" placeholder="예: 01012341234" id="memberPhoneNumber" name="memberPhoneNumber" th:value="${member.memberPhoneNumber}" required>
								</div>
								
								<input type="hidden" id="isAdmin" value=0>
								
								<br>
								<button id="update-member-info"class="flex-c-m stext-101 cl0 size-125 bg3 bor2 hov-btn3 p-lr-15 trans-04">
									등록
								</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-3 p-b-80" th:replace="~{/member/member-menu::member-menu}"></div>
			</div>
		</div>
	</section>	
<footer th:replace="~{footer::footer}"></footer>
<!--===============================================================================================-->	
	<script th:src="@{../vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{../vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/select2/select2.min.js}"></script>
 	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{../vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/slick/slick.min.js}"></script>
	<script th:src="@{../js/slick-custom.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/parallax100/parallax100.js}"></script>
<!-- 	<script>
        $('.parallax100').parallax100();
	</script> -->
<!--===============================================================================================-->
	<script th:src="@{../vendor/MagnificPopup/jquery.magnific-popup.min.js}"></script>
 	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/isotope/isotope.pkgd.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{../vendor/sweetalert/sweetalert.min.js}"></script>
 	<script>
		$('.js-addwish-b2').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
 	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script> 
<!--===============================================================================================-->
	<script th:src="@{../js/main.js}"></script>
</body>
</html>