<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<div class="memberinfo_update">
		<h1 class="title">회원정보 수정</h1>
	</div>
	<div class="content">
   	<form th:action="@{/member/update}" method="post" id="signup" class="form-horizontal">
			<label for="memberId">아이디</label> 
			<input type="text"  id="memberId" name="memberId" pattern="(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{1,10}"  required> <!-- 영어와 숫자의 조합으로 1글자부터 10글자까지 허용, 영어,숫자 하나이상 들어가야함 -->
			<label for="memberPassword">비밀번호</label> 
			 <input type="password" id="memberPassword" name ="memberPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" th:error="memberPassword"  required> 
			 <label for="passwordcheck">비밀번호 확인</label>  
			 <input type="password" id="memberPasswordConfirm" name="memberPasswordConfirm" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"  th:error="memberPasswordConfirm" required>  
			<label for="memberName">이름</label>
			<input type="text" id="memberName" name="memberName" pattern="[가-힣]{2,}" required>
			<label for="memberNickName">닉네임</label>
			<input type="text" id="memberNickName" name="memberNickName" required> 
			<label for="memberEmail">이메일 주소</label>
			<input type="email" id="memberEmail" name="memberEmail" required>
			<label for="memberAddress">주소</label>
			<input type="text" id="memberAddress" name="memberAddress" pattern="[가-힣0-9]+" required> <!-- 숫자와 한글만 입력 -->
			<label for="memberPhoneNumber">전화번호</label> 
			<input type="text" pattern="[0-9]{11}" placeholder="예: 01012341234" id="memberPhoneNumber" name="memberPhoneNumber" required>
			<input type="hidden" id="isAdmin" value=0 required>
			<div class="memberinfoupdate_or_cancel">
			<input type="submit" class="btn btn-info" value="회원정보 수정">
			    <a th:href="@{/member/login}" class="btn btn-info">취소</a> 
			</div>
	</form>
	</div>
	
</body>
<script type="text/javascript">
	var pw1 = document.querySelector("#memberPassword");
	var pw2 = document.querySelector("#memberPassword2");
	var pwConfirm = document.querySelector("#memberPasswordConfirm");
	pw2.onkeyup = function(event) {
		if (pw1.value !== pw2.value) {
			pwConfirm.innerText = "비밀번호가 일치하지 않습니다.";
		} else {
			pwConfirm.innerText = "";
		}
	}
   
</script>	
</html>
