<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.myapp.member.dao.ICartRepository">
<select id="selectCartList" resultType="com.example.myapp.member.model.Cart">
<![CDATA[
	SELECT c.product_id AS "productId",
		 c.cart_id AS "cartId", 
		 p.product_price AS "productPrice",
		 c.product_count AS "productCount",
		 p.product_name AS "productName" 
	FROM cart c JOIN product p ON c.product_id=p.product_id
	WHERE member_id=#{memberId}
]]>
</select>

<select id="totalProductPrice" resultType="Integer">
<![CDATA[
	SELECT SUM(c.product_count*p.product_price) 
	FROM cart c JOIN product p ON c.product_id=p.product_id 
	WHERE member_id=#{memberId}
]]>
</select>

<update id="updateCartList" parameterType="hashmap">
<![CDATA[
	UPDATE cart SET product_count=#{amount} WHERE cart_id=#{cartId}
]]>
</update>

<delete id="deleteCart" parameterType="string">
<![CDATA[
	DELETE FROM cart WHERE member_id=#{memberId}
]]>
</delete>

<delete id="deleteCartProduct" parameterType="integer">
		DELETE FROM cart WHERE cart_id=#{cartId}
</delete>

<select id="countCart" resultType="Integer">
<![CDATA[
	SELECT COUNT(*) FROM cart WHERE member_id=#{memberId}
]]>
</select>

</mapper>